{% extends "layouts/base.html" %}

{% block body %}

  <div class="app-pane">

    {% include "header.html" %}

    {{ govukPhaseBanner({
      classes: "app-phase-banner govuk-width-container",
      tag: {
        text: "under review"
      },
      html: 'This is v2 of the <a href="https://hmcts-design-system.herokuapp.com/">HMCTS Design System</a>.'
    }) }}
    {% include "nav.html" %}

    <div class="app-pane__content">

      <main id="content" role="main">
      {% block pageContent %}{% endblock %}
      </main>

      {% include "footer.html" %}

    </div>

  </div>

{% endblock %}
